__pycache__/
*.pyc
.env
.git/
.gitignore
.gitlab-ci.yml
render.yaml
render_deploy.sh
venv/
.venv/
*.log
temp/
data/*.db
user_sessions/*.sessionvenv/ 
.venv/ 
*.log 
data/*.db 
user_sessions/*.session 
venv/ 
venv311/ 
